*
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body
{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow-x: hidden;
  font-family: Roboto,sans-serif;
}
body::-webkit-scrollbar 
{
   display: none;
}
.main
{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;   
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    padding: 0;
}
@media only screen and (min-width: 900px)
{
.navBarPhone
{
    display: none;
}
.navBar
{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 0 20px 0 #0000005a;
  background: #fff;
  z-index: 300;
  box-shadow: 0 0 30px 0 #00000061;
}
.navBar .left
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}
.navBar .left .logo
{
    position: relative;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.navBar .left .logo img
{
    width: 100%;
}
.navBar .left .leftLogoDiv
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    height: auto;
    width: auto;
    flex-direction: column;
}
.navBar .left .leftLogoDiv .logoTitle
{
    font-size: 35px;
    color: #1452b5;
    font-family: Roboto,sans-serif;
}
.navBar .left .leftLogoDiv .logoTitleSpan
{
    font-size: 16px;
    color: #505050;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
.navBar .right
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    width: auto;
}
.navBar .right .rightText
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: italic;
  font-family: Roboto,sans-serif;
  color: #1452b5;
}
.navBar .right .rightText span
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 35px;
    padding: 0 5px;
}
.navBar .right .rightText span img
{
    position: relative;
    height: 100%;
}
.center_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;   
}
.options_banner
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 1400px;
}
.options_banner .banner_image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.options_banner .banner_image img
{
    width: 100%;
}
.option_container
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    bottom: -100px;
    background: #ffffff;
    box-shadow: 0 5px 30px 0 #00000073;
    border-radius: 20px;
}
.option_container .option_box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 15px;
    padding: 0px;
    background: #fff;
    border-radius: 20px;  
    transition: 0.3s;
    cursor: pointer;
}
.option_container .option_box:hover
{
    background: #e2e2e2;
    transform: scale(1.05);

}
.option_container .option_box p
{
    text-align: center;
    font-size: 18px;
    color: #505050;
    font-family: Roboto,sans-serif;
    margin: 0;
}
.option_container .option_box .option_text
{
    position: sticky;
    margin: 10px 5px;
    width: 100px;
}
.timing_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 1300px;
}
.timing_section .timing
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 50%;
}
.timing_section .timing .opening_hour_title
{
  font-family: Roboto,sans-serif;
  color: #505050;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
}
.timing_section .timing .opening_hour_text
{
  font-family: Roboto,sans-serif;
  color: #505050;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  margin: 10px 0;
}
.timing_section .timing .opening_hour_span
{
  font-family: Roboto,sans-serif;
  color: #505050;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 10px 0;
}
.timing_section .timing .hr-grey
{
    position: relative;
    height: 1px;
    width: 90%;
    border: 0;
    margin: 10px 0;
    background: #0000001f;
}
.ad_container
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    background: #e2e2e2;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}
.ad_container .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.ad_container .image img
{
    width: 100%;
}
.text_link
{
    position: relative;
    color: #0066ff;
    font-size: 18px;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    margin: 0 10px;
}
.timing_section .rating
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 25%;
    height: 250px;
    background: #e2e2e2;
    padding: 10px;
    border-radius: 15px;
}
.timing_section .rating .image_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}
.timing_section .rating .image_container img
{
    width: 100%;
}
.rating .rating_title
{
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0;
  line-height: 1.2;
  font-family: Roboto,sans-serif;
  color: #505050;
}
.rating .rating_title_span
{
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
  line-height: 1.2;
  font-family: Roboto,sans-serif;
  color: #505050;
}
.rating .hr-grey
{
    position: relative;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 0px 0;
    background: #0000001f;
}
.rating .rating_btn
{
    position: relative;
    border: 0;
    outline: none;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #00ff00;
    color: #00000096;
    font-weight: 500;
    margin-top: 20px;
    font-family: Roboto,sans-serif;
}
.rating .rating_link
{
  margin: 15px 10px;
  margin-bottom: 0;
  color: #1452b5;
  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.timing_section .options
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 250px;
    margin: 0 10px;
    padding: 0;
}
.timing_section .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1452b5;
    width: 100%;
    max-width: 250px;
    margin-bottom: 30px;
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 50px;
    font-family: Roboto,sans-serif;
}
.sub_nav
{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    top: 100px;
    margin: 30px 0;
    padding: 10px;
    z-index: 200;
    background: #fff;
    border-bottom: 1px solid #00000019;
}
.sub_nav .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1452b5;
    font-size: 1rem;
    font-weight: 400;
    font-family: Roboto,sans-serif;
}
.sub_nav .divid
{
    position: relative;
    width: 1px;
    height: 15px;
    background: #00000058;
    margin: 0 10px;
}
.help_center
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 100vw;
    padding: 10px;
}
.help_center .heading
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help_center .heading p
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1452b5;
    font-size: 30px;
    margin: 20px 0;
    font-weight: 400;
}
.help_center .options
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 1200px;
}
.help_center .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.help_center .option .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 100px;
}
.help_center .option .image img
{
    width: 100%;
}
.help_center .option .option_title
{
    margin: 20px 0;
    max-width: 160px;
    text-align: center;
}
.help_center .hr-grey
{
    position: relative;
    height: 1px;
    background: #00000023;
    border: 0;
    width: 30%;
    margin-bottom: 30px;
}
.help_center .option_title
{
    color: #505050;
    font-size: 18px;
}
.help_center .viewMore
{
    color: #1452b5;
    font-size: inherit;
}
.register_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.7);
    background-image: url(images/register1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.register_section .image_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}
.register_section .image_section .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 10px 30px;
    margin: 50px;
    background: #fff;
    border-radius: 15px;
}
.register_section .image_section .image img
{
    width: 100%;
}
.register_section .main_section .heading
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    color: #fff;
    flex-direction: column;
}
.register_section .main_section .heading .hr-grey
{
    height: 1px;
    width: 90%;
    background: #ffffff46;
    border: 0;
    margin: 20px 0;
}
.register_section .main_section ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 10px 0;
}
.register_section .main_section ul li
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 20px 0;
    list-style: none;
}
.register_section .main_section ul li .title
{
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
}
.register_section .main_section ul li .btn_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}
.register_section .main_section ul li button
{
    padding: 10px 60px;
    background-color: #1fbfd1;
    color: #000;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 10px;
    border-radius: 20px;
}
.register_section .main_section ul li .btn_container.dark_blue button 
{
    background-color: #1452b5;
}
.news_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}
.heading
{
    font-size: 30px;
    color: #1452b5;
    font-weight: 400;
    margin-top: 30px;
}
.hr_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hr_section .hr-grey
{
    position: relative;
    background: #00000058;
    border: 0;
    width: 50%;
    height: 1px;
    margin: 20px 0;
}
.part_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1400px;
    height: auto;   
}
.part_container .part1
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    margin: 50px 0;
}
.part_container .part1 .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}
.part_container .part1 .image img
{
    width: 100%;
}
.part_container .part2
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: 50px 0;
}
.part_container .part2 h3
{
    font-size: 24px;
    color: #1452b5;
    font-weight: 400;
    margin: 10px 0;
}
.part_container .part2 p 
{
    font-size: 18px;
    color: #505050;
    font-weight: 400;
    margin: 10px 0;
}
.part_container .part2 p a
{
    color: #1452b5;
    text-decoration: none;
    margin: 10px 0;
}
.read-more
{
    color: #1452b5;
    font-size: 1rem;
    font-weight: 400;
}
.services_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.services_section .services_options
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 80px 0;
}
.services_section .services_options .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: 40px;
}
.services_section .services_options .option .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 120px;
}
.services_section .services_options .option .image img
{
    width: 100%;
}
.services_section .services_options .option .title
{
    max-width: 140px;
    color: #505050;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.team_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.team_section .select_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}
.team_section .select_section .option
{
    position: relative;
    display: flex;
    width: 50%;
    color: #505050;
    padding: 10px;
    margin: 0px;
    cursor: pointer;
}
.team_section .select_section .option.Healthcare
{
    justify-content: end;
    align-items: center;
    border-right: 2px solid #00000030;
}
.team_section .select_section .option.Administrators
{
    justify-content: start;
    align-items: center;
}
.team_section .select_section .option.active
{
    color: #1452b5;
}
.team_section .part_section
{
    position: relative;
    display: none;
}
.team_section .part_section.active
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.team_section .people
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team_section .people .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 130px;
}
.team_section .people .image img
{
    width: 100%;
}
.team_section .people .title
{
    position: relative;
    max-width: 140px;
    text-align: center;
    margin: 10px;
}
.team_section .people_section
{
    position: relative;
    columns: 4;
    column-gap: 110px;
}
}