*
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body
{
  /* display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow-x: hidden;
  font-family: Roboto,sans-serif;
}
body::-webkit-scrollbar 
{
   display: none;
}
.scrollToTop
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: #00000000;
    border: 0;
    z-index: 300;
}
.main
{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;   
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    padding: 0;
}
@media only screen and (min-width: 900px)
{
.navBarPhone
{
    display: none;
}
.navBar
{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 0 20px 0 #0000005a;
  background: #fff;
  z-index: 300;
  box-shadow: 0 0 30px 0 #00000061;   
}
.navBar .navContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1300px;
}
.navBar .left
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 auto;
}
.navBar .left .logo
{
    position: relative;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.navBar .left .logo img
{
    width: 100%;
}
.navBar .left .leftLogoDiv
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    height: auto;
    width: auto;
    flex-direction: column;
}
.navBar .left .leftLogoDiv .logoTitle
{
    font-size: 35px;
    color: #1452b5;
    font-family: Roboto,sans-serif;
}
.navBar .left .leftLogoDiv .logoTitleSpan
{
    font-size: 16px;
    color: #505050;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
.navBar .right
{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0 auto;
    width: auto;
}
.navBar .right .rightText
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: italic;
  font-family: Roboto,sans-serif;
  color: #1452b5;
}
.navBar .right .rightText span
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 35px;
    padding: 0 5px;
}
.navBar .right .rightText span img
{
    position: relative;
    height: 100%;
}
.alertBox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 0;
    padding: 10px 0;
    width: 100vw;
    background: #ffc;
    border-radius: 20px;
}
.alertBox .alertIcon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 5px;
    font-size: 17px;
    font-family: Roboto,sans-serif;
    padding: 10px;
    background: #d11f39;
    color: aliceblue;
    border-radius: 20px;
    margin: 0 5px;
}
.alertBox p
{
  color: #1452b5;
  font-size: 15px;
}
.center_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;   
}
.options_banner
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 1400px;
}
.options_banner .banner_image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
}
.options_banner .banner_image img
{
    width: 100%;
}
.option_container
{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1300px;
    bottom: -100px;
    background: #ffffff;
    box-shadow: 0 5px 15px 0 #00000036;
    border-radius: 5px;
}
.option_container .option_box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 15px;
    padding: 0px;
    background: #fff;
    border-radius: 20px;  
    transition: 0.3s;
    cursor: pointer;
}
.option_container .option_box .option_image
{
    position: relative;
    width: 100%;
    max-width: 100px;
}
.option_container .option_box .option_image img
{
    width: 100%;
}
.option_container .option_box:hover
{
    transform: scale(1.05);
}
.option_container .option_box:hover p
{
    color: #1452b5;
}
.option_container .option_box p
{
    text-align: center;
    font-size: 18px;
    color: #505050;
    font-family: Roboto,sans-serif;
    margin: 0;
    transition: 0.3s;
}
.option_container .option_box .option_text
{
    position: sticky;
    margin: 10px 5px;
    width: 100px;
}
.timing_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 1300px;
}
.timing_section .timing
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 50%;
}
.timing_section .timing .opening_hour_title
{
  font-family: Roboto,sans-serif;
  color: #505050;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
}
.timing_section .timing .opening_hour_text
{
  font-family: Roboto,sans-serif;
  color: #505050;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  margin: 10px 0;
}
.timing_section .timing .opening_hour_span
{
  font-family: Roboto,sans-serif;
  color: #505050;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 10px 0;
}
.timing_section .timing .hr-grey
{
    position: relative;
    height: 1px;
    width: 90%;
    border: 0;
    margin: 10px 0;
    background: #0000001f;
}
.ad_container
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    margin-left: 0;
    padding-left: 0;
}
.ad_container .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.ad_container .image img
{
    width: 100%;
}
.text_link
{
    position: relative;
    color: #0066ff;
    font-size: 18px;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    margin: 0 10px;
}
.timing_section .rating
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 25%;
    height: 250px;
    background: #f6f6f6;
    padding: 10px;
    border-radius: 15px;
}
.timing_section .rating .image_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    border-radius: 0px;
    overflow: hidden;
}
.timing_section .rating .image_container img
{
    width: 100%;
}
.rating .rating_title
{
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0;
  line-height: 1.2;
  font-family: Roboto,sans-serif;
  color: #505050;
}
.rating .rating_title_span
{
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
  line-height: 1.2;
  font-family: Roboto,sans-serif;
  color: #505050;
}
.rating .hr-grey
{
    position: relative;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 0px 0;
    background: #0000001f;
}
.rating .rating_btn
{
    position: relative;
    border: 0;
    outline: none;
    padding: 5px 20px;
    border-radius: 0px;
    background-color: #036803;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    font-family: Roboto,sans-serif;
}
.rating .rating_link
{
  margin: 15px 10px;
  margin-bottom: 0;
  color: #1452b5;
  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.timing_section .options
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 250px;
    margin: 0 10px;
    padding: 0;
}
.timing_section .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1452b5;
    width: 100%;
    max-width: 250px;
    margin-bottom: 30px;
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 50px;
    font-family: Roboto,sans-serif;
}
.timing_section .option.Contact
{
    color: #1452b5;
    background: #fff;
    border: 2px solid #1452b5;
}
.timing_section .option .image
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30px;
    margin: 0 5px;
    width: 100%;
}
.timing_section .option .image img
{
    width: 100%;
}
.sub_nav
{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    top: 100px;
    margin: 30px 0;
    padding: 10px;
    z-index: 200;
    background: #fff;
    border-bottom: 1px solid #00000019;
}
.sub_nav .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1452b5;
    font-size: 1rem;
    font-weight: 400;
    font-family: Roboto,sans-serif;
}
.sub_nav .option a
{
    text-decoration: none;
    transition: 0.5s;
}
.sub_nav .option a:hover
{
    color: #1fbfd1;
}
.sub_nav .divid
{
    position: relative;
    width: 1px;
    height: 15px;
    background: #00000058;
    margin: 0 10px;
}
.help_center
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 100vw;
    padding: 10px;
}
.help_center .heading
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help_center .heading p
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1452b5;
    font-size: 30px;
    margin: 20px 0;
    font-weight: 400;
}
.help_center .options
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 1200px;
}
.help_center .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    cursor: pointer;
}
.help_center .option:hover
{
    transform: scale(1.1);
}
.help_center .option .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 100px;
}
.help_center .option .image img
{
    width: 100%;
}
.help_center .option .option_title
{
    margin: 20px 0;
    max-width: 160px;
    text-align: center;
}
.help_center .hr-grey
{
    position: relative;
    height: 1px;
    background: #00000023;
    border: 0;
    width: 30%;
    margin-bottom: 30px;
}
.help_center .option_title
{
    color: #505050;
    font-size: 18px;
}
.help_center .option:hover .option_title
{
    color: #1452b5;
}
.help_center .viewMore
{
    margin: 20px 0;
    color: #1452b5;
    font-size: inherit;
}
.register_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.7);
    background-image: url(images/register1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.register_section .sections
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    max-width: 1400px;
}
.register_section .image_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}
.register_section .image_section .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 10px 30px;
    margin: 50px;
    background: #fff;
    border-radius: 15px;
}
.register_section .image_section .image img
{
    width: 100%;
}
.register_section .heading
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    color: #fff;
    flex-direction: column;
}
.register_section .main_section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.register_section .hr_section .hr-grey
{
    background: #00bfffa9;
    height: 2px;
}
.heading .hr-grey
{
    height: 1px;
    width: 90%;
    background: #ffffff46;
    border: 0;
    margin: 20px 0;
}
.register_section .main_section ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 10px 0;
}
.register_section .main_section ul li
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 20px 0;
    list-style: none;
}
.register_section .main_section ul li .title
{
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.register_section .main_section ul li .title::after
{
    content: '';
    position: absolute;
    left: -20px;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
}
.register_section .main_section ul li .btn_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}
.register_section .main_section ul li button
{
    padding: 10px 60px;
    background-color: #1fbfd1;
    color: #000;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 10px;
    border-radius: 20px;
}
.register_section .main_section .options .title a
{
    color: #0066ff;
    text-decoration: none;
    margin-left: 4px;
}
.register_section .main_section ul li .btn_container.dark_blue button 
{
    background-color: #1452b5;
    color: #fff;
}
.news_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1400px;
    height: auto;
}
.news_section .more_container
{
    display: none;
}
.news_section .more_container.active
{
    display: block;
}
.news_section .more_container_read_more
{
    display: none;
}
.news_section .more_container_read_more.active
{
    position: relative;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #1452b5;
    background: #00000000;
    border: 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}
.news_section .more_container_read_more:hover
{
    color: #1fbfd1;
}
.news_section .more_container_read_less
{
    position: relative;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #1452b5;
    background: #00000000;
    border: 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}
.news_section .more_container_read_less:hover
{
    color: #1fbfd1;
}
.heading
{
    font-size: 30px;
    color: #1452b5;
    font-weight: 400;
    margin-top: 30px;
}
.hr_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hr_section .hr-grey
{
    position: relative;
    background: #00000058;
    border: 0;
    width: 50%;
    height: 1px;
    margin: 20px 0;
}
.part_container
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: start; 
    width: 100%;
    max-width: 1200px;
    height: auto;
}
.part_container.even .part1
{
    grid-column: 1;
}
.part_container.even .part2
{
    grid-column: 2;
    padding-left: 10px;
}
.part_container.odd .part1
{
    grid-column: 2;
    grid-row: 1;
}
.part_container.odd .part2
{
    grid-column: 1;
    grid-row: 1;
}
.part_container .part1
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 50px 0;
}
.part_container .part1 .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.part_container .part1 .image img
{
    width: 100%;
}
.part_container .part2
{
    position: relative;
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 50px 0;
}
.part_container .part2.active
{
    display: flex;
}
.part_container .part2 h3
{
    font-size: 24px;
    color: #1452b5;
    font-weight: 400;
    margin: 10px 0;
}
.part_container .part2 p 
{
    font-size: 18px;
    color: #505050;
    font-weight: 400;
    margin: 10px 0;
    max-width: 560px;
}
.part_container .part2 p.bold
{
    font-weight: bolder;
}
.part_container .part2 p a
{
    color: #1452b5;
    text-decoration: none;
    margin: 10px 0;
}
.read-more
{
    color: #1452b5;
    font-size: 1rem;
    font-weight: 400;
}
.quote_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1452b5;
    width: 100vw;
    padding: 30px 0;
    margin-top: 40px;
}
.quote_section .container_section
{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1300px;
}
.quote_section .container_section .quote em
{
    color: #fff;
  font-size: 54px;
}
.quote_section .quote
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;  
    margin: 30px 0; 
    text-align: center;
}
.quote_section .image
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
}
.quote_section .image img
{
    width: 100%;
}
.quote_section .image.right
{
    margin-top: 120px;
}



.app_download_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    background: #f6f6f6;
    padding: 40px 0;
}
.container_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1300px;
}
.app_download_section .image_section
{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
}
.app_download_section .image_section .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-right: 30px;
}

.app_download_section .image_section .image .desktop
{

}
.app_download_section .image_section .image .phone
{
    display: none;
}
.app_download_section .image_section .image img
{
    width: 100%;
}
.app_download_section .main_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 55%;
}
.app_download_section .main_section .title
{
    color: #1452b5;
    font-size: 24px;
    margin-bottom: 30px;
}
.app_download_section .main_section .discrip
{
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 8px;
    color: #505050;
    width: 100%;
    text-align: left;
}
.app_download_section .main_section .features
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.app_download_section .main_section .features .feature
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    margin-bottom: 30px;
}
.app_download_section .main_section .features .feature .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 35px;
}
.app_download_section .main_section .features .feature .image img
{
    width: 100%;
}

.app_download_section .main_section .features .feature .text
{
    margin-left: 10px;
    color: #505050;
    font-size: 16px;
}
.app_download_section .main_section .app_download_banner
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.app_download_section .main_section .app_download_banner .image
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 35%;
    margin-right: 15px;
    transition: 0.5s;
    cursor: pointer;
}
.app_download_section .main_section .app_download_banner .image:hover
{
    transform: translateY(-10px);
}
.app_download_section .main_section .app_download_banner .image img
{
    width: 100%;
}
/* ///////////////////////////////////////////// */
.services_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.services_section .services_options
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 40px 0;
}
.services_section .services_options .option
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: 40px;
}
.services_section .services_options .option .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 120px;
}
.services_section .services_options .option .image img
{
    width: 100%;
}
.services_section .services_options .option .title
{
    max-width: 140px;
    color: #505050;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}
.team_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.team_section .select_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}
.team_section .select_section .option
{
    position: relative;
    display: flex;
    width: 50%;
    color: #505050;
    padding: 10px;
    margin: 0px;
    cursor: pointer;
}
.team_section .select_section .option.Healthcare
{
    justify-content: end;
    align-items: center;
    border-right: 2px solid #00000030;
}
.team_section .select_section .option.Administrators
{
    justify-content: start;
    align-items: center;
}
.team_section .select_section .option.active
{
    color: #1452b5;
}
.team_section .part_section
{
    position: relative;
    display: none;
}
.team_section .part_section.active
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.team_section .people
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team_section .people .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 130px;
}
.team_section .people .image img
{
    width: 100%;
}
.team_section .people .title
{
    position: relative;
    max-width: 140px;
    text-align: center;
    margin: 10px;
}
.team_section .people_section
{
    position: relative;
    columns: 4;
    column-gap: 110px;
}
.testimonials_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
}
.testimonials
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
}
.testimonials .testimonial
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 30px 0;
    max-width: 1200px;
}
.testimonials .testimonial .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 130px; 
}
.testimonials .testimonial .image
{
    width: 100%;
}
.testimonials .testimonial .text_area
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.testimonials .testimonial .text_area .para 
{
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #505050;
    width: 100%;
}
.testimonials .testimonial.odd .text_area .para 
{
    text-align: right;
}
.testimonials .testimonial .text_area .para button
{
    color: #1452b5;
    font-size: 18px;
    font-weight: 400;
    background: #00000000;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
}
.testimonials .testimonial .text_area .date
{
    color: #505050;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    margin-top: 20px;
    width: 100%;
}
.testimonials .testimonial.odd .text_area .date
{
    text-align: right;
}
.testimonials .hr_section .hr-grey
{
    border: 0;
    height: 1px;
    width: 30%;
}
.feedback_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    padding: 50px 0;
    margin-bottom: 50px;
}
.feedback_section .sections
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}
.feedback_section .sections .chart_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.feedback_section .sections .container_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.feedback_section .sections .section
{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.section .three_section
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 33%;
    margin-left: 20px;
}
.section .three_section .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px; 
}
.section .three_section .image img
{
    width: 100%;
}
.section .three_section .title
{
    font-size: 20px;
    font-weight: 400;
    display: block;
    color: #1452b5;
    padding-bottom: 20px;
    padding-top: 10px;
}
.section .three_section .title.action
{
    color: #212529;
    padding-left: 10px;
}
.section .three_section .listLI
{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.section .three_section .listLI.circle::after
{
    content: '';
    position: absolute;
    left: -20px;
    top: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #1452b5;
}
.section .three_section .listLI.dash::after
{
    content: '';
    position: absolute;
    left: -30px;
    top: 10px;
    height: 1px;
    width: 20px;
    border-radius: 0px;
    background: #1452b5;
}
.section .three_section.border
{
    border-left: 2px solid #0066ff;
}
.section .three_section.border .listLI
{
    padding-left: 10px;
}
/* .feedback_section .sections .section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.feedback_section .sections .section.image
{
    position: relative;
    width: 100%;
}
.feedback_section .sections .section.image .image
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.feedback_section .sections .section.title
{
    position: relative;
    width: 100%;
    margin: 20px 0;
}
.feedback_section .sections .section.title .title
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 20px;
    font-weight: 300;
    color: #1452b5;
}
.feedback_section .sections .section.ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.feedback_section .sections .section.ul .ul.colume
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.feedback_section .sections .section.ul .li.colume
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    width: 100%;
}
.feedback_section .sections .section.ul .ul.row
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    width: 100%;
}
.feedback_section .sections .section.ul .ul.row li
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
}
.feedback_section .sections .section.ul .ul.row li::after
{
    content: '';
    position: absolute;
    left: -30px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #1452b5;
}
.feedback_section .sections .section.ul .date
{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    color: #505050;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}
*/
.feedback_section .images
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 50px 0;
}
.feedback_section .images .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
}
.feedback_section .images .image img
{
    width: 100%;
} 



/* ///////////////////////////////////////////// */
.participation_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #f6f6f6;
    padding: 50px 0;
}
.participation_section .section_container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 50px 0;
}
.participation_section .section_container .image_contain
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 10px;
}
.participation_section .section_container .image_contain .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.participation_section .section_container .image_contain .image img
{
    width: 100%;
}
.participation_section .section_container .text_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 10px;
    color: #505050;
    font-size: 18px;
    font-weight: 400;
}
.participation_section .section_container .text_section p
{
    margin: 10px 0;
}
.participation_section .section_container .text_section p button
{
    color: #007bff;
    font-size: 18px;
    font-weight: 400;
    background: #00000000;
    border: 0;
    cursor: pointer;
}
.self-help_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f6f6f6;
    width: 100%;
}
.self-help_section .resources
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
}
.self-help_section .resources .resource
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 270px;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.self-help_section .resources .resource:hover
{
    transform: translateY(-10px);
}
.self-help_section .resources .resource .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.self-help_section .resources .resource .images img
{
    width: 100%;
}
.self-help_section .resources .resource .heading
{
    font-size: 20px;
    font-weight: 400;
    color: #1452b5;
}
.self-help_section .resources .resource .para
{
    font-size: 15px;
    color: #505050;
}
.add_download_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1452b5;
    width: 100%;
}
.add_download_section .parts
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 20px 0;
}
.add_download_section .parts .part
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.add_download_section .parts .part.i1
{
    width: 20%;
}
.add_download_section .parts .part.i2
{
    justify-content: start;
    width: 50%;
}
.add_download_section .parts .part.i3
{
    width: 30%;
}
.add_download_section .parts .part.i1 .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.add_download_section .parts .part.i1 .image img
{
    width: 100%;
}
.add_download_section .parts .part.i2 .para p
{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;   
}
.add_download_section .parts .part.i2 .para .bold
{
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}
.add_download_section .parts .part.i3 button
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 200px;
    border: 0;
    margin: 0 10px;
    border-radius: 10px;
}
.add_download_section .parts .part.i3 button img
{
    width: 100%;
}
.banner_section
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}
.banner_section .image
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.banner_section .image img
{
    width: 100%;
}
.footer
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto; 
}
.footer .links_section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #505050;
    padding: 20px 0;
}
.footer .links_section .address
{
    font-size: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}
.footer .links_section .links
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.footer .links_section .links .link a
{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.footer .links_section .links .break
{
    position: relative;
    height: 15px;
    width: 1.5px;
    background: #ffffff;
    margin: 0 10px;
    border-radius: 20px;
}
.footer .credit
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1452b5;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding: 10px 0;   
}



.consultation_btn
{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1fbfd1;
}
.consultation_btn .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 10px;
}
.consultation_btn .icon img
{
    width: 100%;
}
.consultation_btn .para p
{
    font-size: 18px;
    color: #000;
    font-weight: 400;
}






.container-fluid
{
    position: relative;
    width: 100%;
    max-width: 1200px;
}
.container-fluid .row
{
    position: relative;
    width: 100%;
}
.container-fluid .row .post-slide
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 130px;
    margin: 0 20px;
    overflow: visible;
}
.container-fluid .row .post-slide .post-img
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    height: auto;
}
.container-fluid .row .post-slide .post-img img
{
    width: 100%;
}
.container-fluid .row .post-slide .post-title
{
    text-align: center;
    width: 100%;
}
.post-title a
{
    font-size: 18px;
    color: #505050;
    text-decoration: none;
    font-weight: 400;
}



.row
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#news-slider{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.post-slide{
    background: #fff;
    border-radius: 15px;
}
.post-slide .post-img{
    position: relative;
    border-radius: 10px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    border-radius: 15px;
    margin: 10px 0;
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
    margin-bottom:25px;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: #3498db;
    text-decoration:none;
    color:#fff;
}

.owl-carousel .owl-wrapper-outer
{

    overflow: hidden;
    padding: 20px 0;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top: 35%;
    left: -60px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top: 35%;
    right: -60px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #333;
    font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}
}